<?xml version="1.0" encoding="UTF-8"?>
<binding>

  <namespace uri="http://www.escidoc.de/schemas/context/0.7" 
    prefix="escidocContext" default="elements"/>
  
  <namespace uri="http://escidoc.de/core/01/properties/"
    prefix="prop" />
  <namespace uri="http://escidoc.de/core/01/structural-relations/"
      prefix="srel" />
  <namespace uri="http://www.escidoc.de/schemas/contextlist/0.7"
      prefix="context-list" />
  <namespace uri="http://www.w3.org/1999/xlink" prefix="xlink" />

	<!-- concrete binding of a single context -->
	<mapping name="context" ns="http://www.escidoc.de/schemas/context/0.7"
		class="de.escidoc.core.resources.om.context.Context">
		
		<structure map-as="abstract-context" />
	</mapping>

	<!-- abstract binding of a single context -->
	<mapping ns="http://www.escidoc.de/schemas/context/0.7" 
    class="de.escidoc.core.resources.om.context.Context"
		abstract="true" type-name="abstract-context" pre-get="genXLink">

		<!-- Root attributes -->
		<value ns="http://www.w3.org/1999/xlink" name="href" style="attribute"
			set-method="setXLinkHref" get-method="getXLinkHref" usage="optional" />
		<value ns="http://www.w3.org/1999/xlink" name="title" style="attribute"
			set-method="setXLinkTitle" get-method="getXLinkTitle" usage="optional" />
		<value ns="http://www.w3.org/1999/xlink" name="type" style="attribute"
			set-method="setXLinkType" get-method="getXLinkType" usage="optional" />

		<value name="last-modification-date" style="attribute"
			type="org.joda.time.DateTime" set-method="setLastModificationDate"
			get-method="getLastModificationDate" usage="optional" />

		<!-- Properties include -->
		<structure name="properties" field="properties" usage="optional">
			<structure map-as="context-properties" usage="optional" />
		</structure>

		<!-- Resources include (REST only) -->
		<structure name="resources" usage="optional"/>

		<!-- AdminDescriptors include -->
		<structure name="admin-descriptors" field="adminDescriptors" usage="optional">

			<value ns="http://www.w3.org/1999/xlink" name="href" style="attribute"
				set-method="setXLinkHref" get-method="getXLinkHref" usage="optional" />
			<value ns="http://www.w3.org/1999/xlink" name="title" style="attribute"
				set-method="setXLinkTitle" get-method="getXLinkTitle" usage="optional" />
			<value ns="http://www.w3.org/1999/xlink" name="type" style="attribute"
				set-method="setXLinkType" get-method="getXLinkType" usage="optional" />

			<collection usage="optional">
				<structure map-as="abstract-admin-descriptor" usage="optional" />
			</collection>
		</structure>
	</mapping>

	<!-- ***************************************** 
	     Abstract Organizational Unit References 
	     ****************************************** -->
	<mapping ns="http://escidoc.de/core/01/properties/"
		class="de.escidoc.core.resources.common.reference.OrganizationalUnitRef"
		abstract="true" type-name="abstract-organizational-unit-ref">

		<structure ns="http://escidoc.de/core/01/structural-relations/"
			name="organizational-unit"
			type="de.escidoc.core.resources.common.reference.OrganizationalUnitRef"
			usage="optional">

			<value ns="http://www.w3.org/1999/xlink" name="href" style="attribute"
				set-method="setXLinkHref" get-method="getXLinkHref" usage="optional" />
			<value ns="http://www.w3.org/1999/xlink" name="title" style="attribute"
				set-method="setXLinkTitle" get-method="getXLinkTitle" usage="optional" />
			<value ns="http://www.w3.org/1999/xlink" name="type" style="attribute"
				set-method="setXLinkType" get-method="getXLinkType" usage="optional" />
		</structure>
	</mapping>

	<!-- start: binding of a context unit list -->
	<mapping ns="http://www.escidoc.de/schemas/contextlist/0.7" 
    name="context-list" class="de.escidoc.core.resources.om.context.ContextList">
    
    <collection create-type="java.util.LinkedList" usage="optional"
      item-type="de.escidoc.core.resources.om.context.Context">
      <structure name="context">
        <structure map-as="abstract-context" />
      </structure>
    </collection>
  </mapping>
	<!-- end: binding of a context list -->

</binding>

